<% Category.all.each do |category| %>
	<input type="checkbox" value=<%= category.id %> id="i<%= category.id %>" onchange="math(<%= category.id %>,i<%= category.id %>)"><%= category.name %>
<% end %>
<button id="reset">reset</button><br>
<p>Price</p>
<!-- min<input type="text" id="start">
max<input type="text" id="end"> -->

<div id="slider">
    <output id="rangevalue1">1</output>
    <input class="bar" type="range" id="start" min="1" max="500" value="1" onchange="rangevalue1.value=value"/>500
    <input class="bar" type="range" id="end" min="500" max="1000" value="1000" onchange="rangevalue2.value=value"/>
    <output id="rangevalue2">1000</output>
</div>

<h2><font color="blue"> Listing Products (<span id="count"></span>)</font></h2>
<% if @products.empty? %>
	<p>No products found</p>
<% else %>	
	<table border="1" id="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Price</th>
			<th>Category</th>
		</tr>
	</thead>
		<tbody id="body">
			<%# @products.each.with_index do |product,index| %>
			<!-- <tr>
				<td><%#= index %></td>
				<td><%#= product.name %></td>
				<td><%#= product.price %></td>
				<td><%#= product.category_id %></td>
			</tr> -->
			<%# end %>
		</tbody>
</table>
<% end %>

<% if user_signed_in? && current_user.is_admin %>
	<h2><%= link_to "Add Product", new_product_path %></h2>
<% end %>

<script>
	var ids = [];
	var checkedNums = [];
	var start_rate = 1;
	var number = 1;
	var end_rate = 1000;
	var offset = 50;
	tableHandle = document.getElementById('table');
	bodyHandle = document.getElementById('body');
	resetHandle = document.getElementById('reset');
	startHandle = document.getElementById('start');
	endHandle = document.getElementById('end');
	sliderHandle = document.getElementById('slider');
	countHandle =  document.getElementById('count');

	window.addEventListener('load',function(){
		call(ids);
	},false);

	// endHandle.addEventListener('blur',function(){
	// 	console.log(startHandle.value);

	// 	start_rate = (startHandle.value);
	// 	end_rate = (endHandle.value);
	// 	call(ids)
	// },false);
	sliderHandle.addEventListener('change', function(){
		offset=0;
		start_rate = startHandle.value;
		end_rate = endHandle.value;
		bodyHandle.innerHTML = "";
		number = 1;
		call(ids);
	}, false);

	function math(id,check){
		bodyHandle.innerHTML = "";
		number = 1;
		if(check.checked){
			ids.push(id);
			checkedNums.push(check);
			offset=0;
			call(ids);

		}else{
			ids.splice(ids.indexOf(id),1);
			offset=0;
			call(ids);
		};
		console.log(ids)
	};

	function call(ids){

		var xhr = new XMLHttpRequest();
		xhr.open('GET', 'http://localhost:3000/products?category_id='+ids+'&start_rate='+start_rate+'&end_rate='+end_rate+'&offset='+offset, false);
		xhr.onreadystatechange = function(){
			if(xhr.readyState === 4 && xhr.status === 200){
				var response = JSON.parse(xhr.responseText);
				 // bodyHandle.innerHTML = "";
				response.forEach(function(n){
					var row = table.insertRow(-1);
    				var cell1 = row.insertCell(0);
    				var cell2 = row.insertCell(1);
    				var cell3 = row.insertCell(2);
    				var cell4 = row.insertCell(3)
    				cell1.innerHTML = number++;
					cell2.innerHTML = `<a href="/products/${n.id}">${n.name}</a>`;
					cell3.innerHTML = n.price;
					cell4.innerHTML = n.category_name;
					bodyHandle.appendChild(row);
					offset++;	
				});
				countHandle.innerHTML = number-1;
			};

		};
		xhr.send();
	};

	resetHandle.addEventListener('click',function(){
		checkedNums.forEach(function(n){
			n.checked = false;
		})
		ids = [];
		offset = 0;
		number = 1;
		bodyHandle.innerHTML = "";
		call(ids);
	},false);

	 $(document).ready(function(){
		$(window).on('scroll', function(){
			if($(window).scrollTop() > $(document).height() - $(window).height() - 100){
				console.log($(window).scrollTop() > $(document).height() - $(window).height() - 100)
				call(ids)
	
				// var output = "";
				// var xhr = new XMLHttpRequest();
				
				// xhr.open('GET', 'http://localhost:3000/products.json?offset=' + offset, false);
				// xhr.onreadystatechange = function(){
				// 	if(xhr.readyState === 4 && xhr.status === 200){
				// 		var products = JSON.parse(xhr.responseText);
				// 		products.forEach(function(n){
				// 			var row = table.insertRow(-1);
		  //   				var cell1 = row.insertCell(0);
		  //   				var cell2 = row.insertCell(1);
		  //   				var cell3 = row.insertCell(2);
		  //   				var cell4 = row.insertCell(3)
		  //   				cell1.innerHTML = number++;
				// 			cell2.innerHTML = `<a href="/products/${n.id}">${n.name}</a>`;
				// 			cell3.innerHTML = n.price;
				// 			cell4.innerHTML = n.category_name;
				// 			bodyHandle.appendChild(row);
				// 			offset++;
				// 		});
				// 		// bodyHandle.append(output);
				// 	}
				// }
				// xhr.send();
			}
		});
	 });
</script>