<div class="thumbnail">
                    <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                    <div class="caption-full">
                        <h4 class="pull-right">$<%= @product.price %></h4>
                        <h4><%= @product.name %>
                        </h4>
                        <p><%= @product.description %></p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right"><%= @product.reviews.count %></p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            4.0 stars
                        </p>
                    </div>
                </div>

                <div class="well">

                    <div class="text-right">
                        <a class="btn btn-success">Leave a Review</a>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <% @product.reviews.each do |review| %>
                                <span class="pull-right"><%= review.created_at.strftime('%a, %b %d %Y') %></span>
                            <p><%= review.body %></p>
                            <% end %>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            
                        </div>
                    </div>

                   
                </div>


<% if user_signed_in? %>
<%= form_for @cart_line_item do |f| %>
	<%= f.label :quantity %>
	<%= f.select :quantity, (1..10).to_a %> <br/>
	<%= f.hidden_field :product_id, value: @product.id %>
	<%= f.submit "Add to cart" %>
	<% end %><br/>

		<%= form_for @wishlist do |f| %>
		<%= f.hidden_field :product_id, value: @product.id %>
		<%= f.submit "Add to wishlist" %>
		<% end %>

<% else %>
	<p><font color="red">login to add product to the cart</font></p>
<% end %>
<%# binding.pry %>
<% avg_review = 0 %>
	<% @product.reviews.each do |review| %>
		<% avg_review += review.rating %>
	<% end %>
<h4>Average rating for this product is -<font color="green"> <%= avg_review.to_f/@product.reviews.length %></font></h4>



<h3>Listing reviews</h3>
	<ul id="reviewList">
		<% @product.reviews.each do |review| %>
			<li id="rd_<%= review.id %>"><%= review.body %><%= link_to "delete review", review_path(review.id), method: :delete, data: {confirm: "Are you sure?", remote: true} %></li>
		<% end %>
	</ul>
	


<%# if user_signed_in? %>
	<div id="errorMsg"></div>
	<%= render '/reviews/form' %>
	<%= link_to "List Products", products_path %>

<% if user_signed_in? && current_user.is_admin %>
<%= link_to "edit the product", edit_product_path(@product.id) %>

<%= link_to "destroy the product", product_path(@product.id), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>

<%# else %>
	<p><font color="red" >login to add review</font></p>
<%# end %>

