<!DOCTYPE html>
<html>
<head>
  <title>Ecommerce</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>
	<% if user_signed_in? %>
		<%= current_user.username %> |
		<%= link_to "Account settings", edit_user_registration_path %> |
		<%= link_to "cart", cart_line_items_path %> (<%= CartLineItem.where('user_id = ?', current_user.id).length %>) |
		<%= link_to "wishlist", wishlists_path %> (<%= Wishlist.where('user_id = ?', current_user.id).length %>) |
		<%= link_to "order", orders_path %> | 
		<%= link_to "Logout", destroy_user_session_path, method: :delete %><hr>
		<%= link_to "category list", categories_path %> |
		<%= link_to "product list", products_path, :"data-no-turbolink" => true %> |
		<%= link_to "Your address", addresses_path %> |
		<% if current_user.is_admin %>
			<%= link_to "Dashboard", dashboard_home_path %><hr>
		<% end %>
	<% else %>
		<%= link_to "Login", new_user_session_path %> | <%= link_to "Register", new_user_registration_path %>
	<% end %>
 <p id="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
